{% extends 'base.html.twig' %}
{% block title %}Page d'accueil{% endblock %}
{% block body%}
    <h2>Tous les souhaits</h2>


    <ul>
        {% for item in wishes %}
            <li class="list-item">
                <a href="{{ path('app_wish_detail', {id : item.id}) }}"><i class="{{ item.class }}"></i>
                    {{ item.title }}
                    {% for cat in item.categories %}
                        [{{ cat.name }}]
                    {% endfor %}
                </a>
            </li>
        {% endfor %}
        <li class="list-item"><a href="{{ path('app_wish_creer') }}">+</a></li>
    </ul>
    {% if is_granted('IS_AUTHENTICATED') %}
    <h2>Ma liste de souhaits</h2>
        {% for wish in app.user.wishes %}
            <li class="list-item">
                <a href="{{ path('app_wish_detail', {id : wish.id}) }}"><i class="{{ wish.class }}"></i>
                    {{ wish.title }}
                    {% for cat in wish.categories %}
                        [{{ cat.name }}]
                    {% endfor %}
                </a>
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}
