<header>
    <nav class="navbar navbar-expand-lg">
        <img class="img-logo" src="{{ asset('images/eeyore.png') }}" alt="eeyore"/>
        <a class="navbar-brand" href="#">Hello bucket (list)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-container">
                <a class="nav-item nav-link active" href="{{path('app_main')}}">Home</a>
                <a class="nav-item nav-link" href="{{ path('app_wish') }}">Liste de souhaits</a>


                {% if is_granted(('IS_AUTHENTICATED')) %}
                    <a class="nav-item nav-link" href="{{ path('app_wish_creer') }}">Make a wish</a>
                    <a class="nav-item nav-link" href="{{ path('app_logout') }}">Logout {{ app.user.userIdentifier }}</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ path('app_login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ path('app_register') }}">Register</a>
                {% endif %}
                <a class="nav-item nav-link" href="{{path('app_about')}}">À propos</a>
            </div>
        </div>
    </nav>
    {% for status, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ status }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
</header>
